* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Kanit", sans-serif;
    font-style: normal;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    & img {
        width: 150px;
        margin-top: 3rem;
    }
}

aside{
    padding: 1rem;
    margin-top: 1rem;

    & .titlea {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 2rem;
        text-align: center;
    }

    & .titleb {
        font-size: 17px;
        margin-bottom: 1rem;
        text-align: center;
    }

    & .titlec {
        font-size: 17px;
        margin-bottom: 1rem;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    & .titled {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & .clickbutton {    
        font-size: 20px;
        color: white;
        background-color: rgb(113, 189, 255);
        border-radius: 30px;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        padding: 5px 30px;
        transition: background-color 0.3s ease;
    }

    & .clickbutton:hover {
        background-color: rgb(0, 170, 255);
    }
}

@media screen and (min-width: 800px) {

    nav {
        position: relative;
        justify-content: right;
        align-items: right;
        margin-right: 35%;
    }

    nav img {
        width: 250px;
        margin-top: 7rem;
        position: absolute;
    }

    main {
        display: flex;
        justify-content: left;
        align-items: left;
        padding-left: 10%;

        & aside {
            margin-top: 10%;
        }

        & .titlea {
            font-size: 25px;
            text-align: left;
        }

        & .titleb {
            font-size: 18px;
            text-align: left;
            margin-bottom: 1.5rem;
        }

        & .titlec {
            font-size: 18px;
            text-align: left;
            margin-bottom: 3rem;
        }

        & .titled {
            display: flex;
            justify-content: left;
            align-items: left;
        }

        & .clickbutton {
            font-size: 18px;
            padding: 10px 50px;
        }
    }
    
}

@media screen and (min-width: 1000px) {

    nav {
        position: relative;
        justify-content: right;
        align-items: right;
        margin-right: 40%;
    }

    nav img {
        width: 280px;
        margin-top: 8rem;
        position: absolute;
    }

    main {
        display: flex;
        justify-content: left;
        align-items: left;
        padding-left: 15%;

        & aside {
            margin-top: 10%;
        }

        & .titlea {
            font-size: 25px;
            text-align: left;
        }

        & .titleb {
            font-size: 18px;
            text-align: left;
            margin-bottom: 1.5rem;
        }

        & .titlec {
            font-size: 18px;
            text-align: left;
            margin-bottom: 3rem;
        }

        & .titled {
            display: flex;
            justify-content: left;
            align-items: left;
        }

        & .clickbutton {
            font-size: 18px;
            padding: 10px 50px;
        }
    }
    
}

@media screen and (min-width: 1280px) {

    nav {
        position: relative;
        justify-content: right;
        align-items: right;
        margin-right: 40%;
    }   

    nav img {
        width: 300px;
        margin-top: 9rem;
        position: absolute;
    }

    main {
        display: flex;
        justify-content: left;
        align-items: left;
        padding-left: 20%;

        & aside {
            margin-top: 10%;
        }

        & .titlea {
            font-size: 30px;
            text-align: left;
        }

        & .titleb {
            font-size: 20px;
            text-align: left;
            margin-bottom: 1.5rem;
        }

        & .titlec {
            font-size: 20px;
            text-align: left;
            margin-bottom: 3rem;
        }

        & .titled {
            display: flex;
            justify-content: left;
            align-items: left;
        }

        & .clickbutton {
            font-size: 20px;
            padding: 10px 50px;
        }
    }
    
}

@media screen and (min-width: 1920px) {

    nav {
        position: relative;
        justify-content: right;
        align-items: right;
        margin-right: 40%;
    }

    nav img {
        width: 350px;
        margin-top: 13rem;
        position: absolute;
    }

    main {
        display: flex;
        justify-content: left;
        align-items: left;
        padding-left: 20%;

        & aside {
            margin-top: 10%;    
        }

        & .titlea {
            font-size: 35px;
            text-align: left;
        }

        & .titleb {
            font-size: 25.5px;
            text-align: left;
            margin-bottom: 1.5rem;
        }

        & .titlec {
            font-size: 25.5px;
            text-align: left;
            margin-bottom: 3rem;
        }

        & .titled {
            display: flex;
            justify-content: left;
            align-items: left;
        }

        & .clickbutton {
            font-size: 25.5px;
            padding: 10px 50px;
        }
    }
    
}